  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Create build file
        run: echo "This is my build output" > build.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-file
          path: build.txt
